.container{
    background-color:royalblue;
    padding: 100px;;
    color:wheat;
    font-size:50px;
    margin-bottom:100px;
    margin-left:20;
    text-align: center;
}
.par{
    font-size:50px;
    color: brown;
    line-height: 1;
    word-spacing: 2px;
}
.map{
    text-align: right;
}