* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5a5a5a;

}

img {
    cursor: pointer;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.Container {
    width: 900px;
    border: 3px solid black;
    margin: 60px auto;
    padding: 12px 3px;
    text-align: center;
    height: 550px;
    width: 100%;
    font-size: 30px;
    color: black;
    line-height: 1;
    word-spacing: 2px;
    background-image: url("./worker.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: blur(1000px);
}
.employer{
    width: 900px;
    border: 3px solid black;
    margin: 60px auto;
    padding: 12px 3px;
    text-align: center;
    height: 550px;
    width: 100%;
    font-size: 30px;
    color: black;
    line-height: 1;
    word-spacing: 2px;
    background-image: url("./business.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: blur(1000px);
}
.option {
    border: 3px solid black;
    margin: 60px auto;
    padding: 12px 3px;
    width: 1200px;
    height: 400px;
}

.flex-div {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    font-size: medium;
    color: black;
    text-align: left;
    background-color: lightblue;
    padding: 10px;
    ;
    margin-bottom: 20px;
}

/* nav bar is used to get a horizontal bars  */
nav {
    padding: 10px 12%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
}

body {
    width: 100%;
}

.picture-container .image-container.logo .nav-left {
    position: relative;
    text-align: left;
    top: 0;
    margin-left: 0px;
    background-color: royalblue;
    padding: 10px 20%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.nav-right {
    position: relative;
    text-align: right;
    top: 0%;
    float: right;
}

.disc {
    margin-top: auto;
    margin-left: 50px;
}

.par {
    text-align: center;
    height: 550px;
    font-size: 30px;
    color: black;
    line-height: 1;
    word-spacing: 2px;
    background-image: url("./canada1.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: blur(1000px);
}

.map {
    margin: auto;
}

.google map {
    padding-bottom: 50%;
    position: relative;
    margin: auto;
    padding-left: 10px;
    height:700px;
    width: 500px;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
.elementor-icon-list-text {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
